@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
body {
  background-color: wheat;
  margin: 15px;
  font-family: 'Noto Sans Mono', monospace;
}

body h1 {
  font-size: 3em;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: wheat;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
          box-shadow: 1px 1px 1px 1px #333;
  font-family: 'Noto Sans Mono', monospace;
}

.letters {
  font-size: 24px;
  margin: 2.5px;
}

.fab {
  color: #333;
}

.top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  background-color: #333;
}

.top_bar p {
  color: wheat;
}

.top_bar #game_title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top_bar .score_container {
  padding: 2.5px;
  margin: 2.5px;
}

.top_bar .score_container p {
  font-size: 12px;
  display: inline-block;
}

.top_bar .score_container span {
  margin-left: 5px;
  display: inline-block;
  color: wheat;
}

#icon_logo {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 60%;
  width: 2em;
  height: 2em;
  border: 1px solid wheat;
}

#icon_logo:before {
  border-radius: 60%;
  width: 2em;
  height: 2em;
  border: 2px solid wheat;
}

#icon_logo:after {
  border-radius: 60%;
  width: 0.5em;
  height: 0.5em;
  border: 5px dotted wheat;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container #enter_game {
  padding: 50px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #enter_game h1,
.container #enter_game h2 {
  margin: 5px;
  text-align: center;
}

.container #enter_game #back {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.container #main_game {
  margin-top: 25px;
  height: 80vh;
  width: 80%;
  display: none;
}

.container #main_game #game_end_title {
  font-size: 36px;
}

.container #main_game #image_hangman img {
  max-width: 100%;
  max-height: 80%;
}

.container #main_game #secret_word {
  margin-top: 2em;
}

.container #main_game #secret_word .sec_word {
  margin-right: 25px;
  border-bottom: 2px solid #333;
  font-size: 32px;
  text-transform: uppercase;
  color: wheat;
}

.container #main_game #keybord {
  margin-top: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container #footer #social li {
  display: inline;
}

.container footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}
/*# sourceMappingURL=style.css.map */