button {
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $secondary;
    font-family: 'Noto Sans Mono', monospace;
}
#start_button {
    font-size: $normal-text;
}
#back{
    font-size: $medium-text;

}
#again{
    font-size: $medium-text;
}