/*------
Font size
-------*/
$small-text:1em;
$medium-text:1.5em;
$normal-text:2em;
$big-text:3em;

/*-------
Margin & Padding
--------*/
$small-margin:2.5px;
$medium-margin:3.5px;
$large-margin:4.5px;
$small-padding:2.5px;
$medium-padding:3.5px;
$large-padding:4.5px;