@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
$primary :wheat;
$secondary:#333;
body {
    background-color: $primary;
    margin: 15px;
    font-family: 'Noto Sans Mono', monospace;
    h1 {
        font-size: 3em;
    }
}

button {
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $secondary;
    font-family: 'Noto Sans Mono', monospace;
}

#start_button {
    font-size: 24px;
}

.letters {
    font-size: 24px;
    margin: 2.5px;
}

.top_bar {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: $secondary;
    p {
        color: $primary;
    }
    #game_title {
        align-self: center;
    }
    .score_container {
        padding: 2.5px;
        margin: 2.5px;
        p {
            font-size: 12px;
            display: inline-block;
        }
        span {
            margin-left: 5px;
            display: inline-block;
            color: $primary;
        }
    }
}

#icon_logo {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 60%;
    width: 2em;
    height: 2em;
    border: 1px solid $primary;
    &:before {
        border-radius: 60%;
        width: 2em;
        height: 2em;
        border: 2px solid $primary;
    }
    &:after {
        border-radius: 60%;
        width: 0.5em;
        height: 0.5em;
        border: 5px dotted $primary;
    }
}

.container {
    display: flex;
    justify-content: center;
    //Enter the game elements
    #enter_game {
        height: 70vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        h1,
        h2 {
            margin-bottom: 0.5em;
        }
    }
    //Main game elements
    #main_game {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
        height: 70vh;
        width: 75%;
        display: none;
        #game_end_title {
            margin: 12px;
            font-size: 36px;
        }
        #image_hangman {
            max-width: 80%;
            max-height: 80%;
            #hang {
                padding: 5px;
            }
        }
        #secret_word {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            margin-left: 2em;
            margin-right: 2em;
            .sec_word {
                margin-right: 0.5em;
                border-bottom: 2px solid $secondary;
                font-size: 32px;
                text-transform: uppercase;
                color: $primary;
            }
        }
        #keybord {
            margin-top: 2em;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        #nav_container {
            justify-content: space-between;
            #back {}
            #again {}
        }
    }
}

#footer {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-align: center;
    .fab {
        color: $secondary;
        font-size: 32px;
    }
}