@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');
$primary :wheat;
$secondary:#333;
body {
    background-color: $primary;
    margin: 15px;
    font-family: 'Noto Sans Mono', monospace;
    h1 {
        font-size: 3em;
    }
}

button {
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $secondary;
    font-family: 'Noto Sans Mono', monospace;
}

.letters {
    font-size: 24px;
    margin: 2.5px;
}

.fab {
    color: $secondary;
}

.top_bar {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: $secondary;
    p {
        color: $primary;
    }
    #game_title {
        align-self: center;
    }
    .score_container {
        padding: 2.5px;
        margin: 2.5px;
        p {
            font-size: 12px;
            display: inline-block;
        }
        span {
            margin-left: 5px;
            display: inline-block;
            color: $primary;
        }
    }
}

#icon_logo {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 60%;
    width: 2em;
    height: 2em;
    border: 1px solid $primary;
    &:before {
        border-radius: 60%;
        width: 2em;
        height: 2em;
        border: 2px solid $primary;
    }
    &:after {
        border-radius: 60%;
        width: 0.5em;
        height: 0.5em;
        border: 5px dotted $primary;
    }
}

.container {
    display: flex;
    justify-content: center;
    #enter_game {
        padding: 50px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        h1,
        h2 {
            margin: 5px;
            text-align: center;
        }
        #back {
            align-self: baseline;
        }
    }
    #main_game {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
        height: 80vh;
        width: 80%;
        display: none;
        #game_end_title {
            font-size: 36px;
        }
        #image_hangman {
            img {
                max-width: 100%;
                max-height: 80%;
            }
        }
        #secret_word {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            .sec_word {
                margin-right: 25px;
                border-bottom: 2px solid $secondary;
                font-size: 32px;
                text-transform: uppercase;
                color: $primary;
            }
        }
        #keybord {
            margin-top: 2em;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    #footer {
        display: flex;
        justify-content: space-around;
        #social {
            li {
                display: inline;
            }
        }
    }
    footer {
        clear: both;
        position: relative;
        height: 200px;
        margin-top: -200px;
    }
}